.vscode/
.DS_Store
.python-version
src/.python-version

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.venv/
venv/

# Pytest
.pytest_cache/

# Examples (potentially copyrighted data)
examples/
